<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='海韵后台管理'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <!--主体区域-->show.html
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs9">
                    <div id="main" style="height: 400px; width: 100%;margin: 0 auto;margin-top: 40px;"></div>
                    <!--<th:block th:if="${temps} != null">
                        <table>
                            <tr>
                                <th>上午体温</th>
                                <th>下午体温</th>
                                <th>提交时间</th>
                                <th>提交人ID</th>
                            </tr>
                            <tr th:each="temperature:${temps}">
                                <td th:text="${temperature.getHeat_am()}"></td>
                                <td th:text="${temperature.getHeat_pm()}"></td>
                                <td th:text="${temperature.getDate()}"></td>
                                <td th:text="${temperature.getStudent_id()}"></td>
                            </tr>
                        </table>
                    </th:block>-->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/echarts/echarts.js"></script>

    <script type="text/javascript">
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            title: {
                text: '月体温统计'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['上午体温', '下午体温']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['1号', '2号', '3号', '4号', '5号', '6号', '7号', '8号', '9号', '10号', '11号', '12号', '13号', '14号', '15号', '16号', '17号', '18号', '19号', '20号', '21号',
                    '22号', '23号', '24号', '25号', '26号', '27号', '28号', '29号', '30号']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '上午体温',
                    type: 'line',
                    stack: '总量',
                    data: [36.3, 37, 36.5, 36.8, 37.1, 36.8, 36, 37, 36.5, 36.8, 36, 37, 36.5, 36.8, 37.1, 36.8, 36.5, 36.8, 36, 37, 36.5, 36.5, 36.8, 36, 37, 36.5, 36, 37, 36.5, 36.8, 37.1]
                },
                {
                    name: '下午体温',
                    type: 'line',
                    stack: '总量',
                    data: [37.5, 37.3, 37, 37.5, 38, 37.5, 37, 37.3, 37, 37.5, 37.5, 38, 37.5, 37, 37.3, 37.3, 37, 37.5, 38, 37.5, 37.5, 37, 37.3, 37, 37.5, 37.5, 37, 37.3, 37.3, 37]
                },
            ]
        };

        option && myChart.setOption(option);

    </script>
    <script type="text/javascript" src="/js/error.js"></script>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>