<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='海韵后台管理'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <!--主体区域-->
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs9">
                    <th:block th:if="${temps} != null">
                        <table>
                            <tr>
                                <th>上午体温</th>
                                <th>下午体温</th>
                                <th>提交时间</th>
                                <th>提交人ID</th>
                            </tr>
                            <tr th:each="temperature:${temps}">
                                <td th:text="${temperature.getHeat_am()}"></td>
                                <td th:text="${temperature.getHeat_pm()}"></td>
                                <td th:text="${temperature.getDate()}"></td>
                                <td th:text="${temperature.getStudent_id()}"></td>
                            </tr>
                        </table>
                    </th:block>
                    <form th:action="add">
                        上午温度：<input type="number" name="heat_am" placeholder="测量温度"/>
                        下午温度：<input type="number" name="heat_pm" placeholder="测量温度"/>
                        <input type="submit" th:text="提交温度"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/error.js"></script>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>