<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="renderer" content="webkit"/>
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon"/>
    <link rel="Bookmark" th:href="@{/images/logo.png}" type="image/x-icon"/>
    <title>健康管理系统</title>
    <script type="text/javascript" src="/js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="/js/formSelects-v4.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css"></link>
    <script src="/layui/layui.js"></script>
    <script src="/js/checkParam.js"></script>
    <script src="/js/common.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <!--主体区域-->
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs9">
                    <div id="main" style="height: 400px; width: 100%;margin: 0 auto;margin-top: 40px;"></div>
                    <!--<th:block th:if="${temps} != null">
                        <table>
                            <tr>
                                <th>上午体温</th>
                                <th>下午体温</th>
                                <th>提交时间</th>
                                <th>提交人ID</th>
                            </tr>
                            <tr th:each="temperature:${temps}">
                                <td th:text="${temperature.getHeat_am()}"></td>
                                <td th:text="${temperature.getHeat_pm()}"></td>
                                <td th:text="${temperature.getDate()}"></td>
                                <td th:text="${temperature.getStudent_id()}"></td>
                            </tr>
                        </table>
                    </th:block>-->
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/echarts/echarts.js"></script>

    <script type="text/javascript">
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            title: {
                text: '周体温统计'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['上午体温', '下午体温']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '上午体温',
                    type: 'line',
                    stack: '总量',
                    data: [36.3, 37, 36.5, 36.8, 37.1, 36.8, 36]
                },
                {
                    name: '下午体温',
                    type: 'line',
                    stack: '总量',
                    data: [37.5, 37.3, 37, 37.5, 38, 37.5, 37]
                },
            ]
        };

        option && myChart.setOption(option);

    </script>
    <script type="text/javascript" src="/js/error.js"></script>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>