<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详细</title>

</head>
<body>

<div style="height: 100%;width: 100%;">
    <div id="div_title" style="width: 1000px;height: 30px;margin: 0 auto;">
        <p id="title" th:text="${session.sessDisease.getDisName()}"
           style="text-align: center;font-weight: bold;color: #0C0C0C; font-size: 18px; "></p>
    </div>
    <div id="div_author"
         style="width: 1000px;display: flex;justify-content: space-between;margin: 0 auto;margin-top: 20px; ">
        <span id="author" th:text="'描述：  '+${session.sessDisease.getDisDescription()}"
              style="text-align: center;"></span>
    </div>
    <div id="div_content"
         style="width: 1000px;margin: 0 auto;margin-top: 10px;display: flex;justify-content: space-between">
        <p id="content" th:text="'预防：   '+${session.sessDisease.getDisPrevention()}"></p>
    </div>
    <div id="div_time"
         style="width: 1000px;display: flex;justify-content: space-between;margin: 0 auto; margin-top: 10px; ">
        <span id="time" th:text="'禁忌：  '+${session.sessDisease.getDisTaboo()}" style="text-align: center; "></span>

    </div>
</div>

<script>

</script>
</body>
</html>