<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="renderer" content="webkit"/>
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon"/>
    <link rel="Bookmark" th:href="@{/images/logo.png}" type="image/x-icon"/>
    <title>健康管理系统</title>
    <script type="text/javascript" src="/js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="/js/formSelects-v4.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css"></link>
    <link rel="stylesheet" href="/css/search.css"></link>
    <script src="/layui/layui.js"></script>
    <script src="/js/checkParam.js"></script>
    <script src="/js/common.js"></script>
    <style type="text/css">
        table {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
        }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 50px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr:nth-child(odd) {
            background: #fff;
            width: 50px;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }
    </style>


</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <!--主体区域-->
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs9">

                    <form name="form1" action="/disease/decide">
                        <select name="select" class="selectType">
                            <option>疾病搜索</option>
                            <option>知识信息搜索</option>
                        </select>
                        <th:block th:if="${#strings.isEmpty(key)}">
                            <input name="key" class="selectType" type="text" placeholder="请输入关键字"/>
                        </th:block>
                        <th:block th:if="${not #strings.isEmpty(key)}">
                            <input th:value="${key}" name="key" type="text" class="selectType"
                                   placeholder="请输入关键字"/>
                        </th:block>
                        <input class="layui-btn" type="submit"/>
                    </form>

                    <th:block th:if="${diseases} != null">
                        <table class="table">
                            <tr>
                                <th>序号</th>
                                <th>病毒名称</th>
                                <th>描述</th>
                                <th>禁忌</th>
                                <th>预防</th>
                            </tr>
                            <tr th:each="disease:${diseases}">
                                <td th:text="${disease.getId()}"></td>
                                <td th:text="${disease.getDisName()}"></td>
                                <td th:text="${disease.getDisDescription()}"></td>
                                <td th:text="${disease.getDisTaboo()}"></td>
                                <td th:text="${disease.getDisPrevention()}"></td>
                            </tr>
                        </table>
                    </th:block>
                    <th:block th:if="${healths} != null">
                        <table class="table">
                            <tr>
                                <th>序号</th>
                                <th>标题</th>
                                <th>内容</th>
                            </tr>
                            <tr th:each="health:${healths}">
                                <td th:text="${health.getId()}"></td>
                                <td th:text="${health.getTitle()}"></td>
                                <td th:text="${health.getContent()}"></td>
                            </tr>
                        </table>

                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <!--    <script type="text/javascript" src="/js/error.js"></script>-->
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>