<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head>
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon"/>
    <link rel="Bookmark" th:href="@{/images/logo.png}" type="image/x-icon"/>
    <title>健康管理系统</title>
    <script type="text/javascript" src="/js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="/js/formSelects-v4.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css"></link>
    <script src="/layui/layui.js"></script>
    <script src="/js/checkParam.js"></script>
    <script src="/js/common.js"></script>
    <style>
        .layui-upload-img {
            width: 200px;
            height: 200px;
        }
        .layui-upload{
            margin-left: 300px;
            margin-top: 100px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <!--主体区域-->show.html
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs9">
                    <div class="layui-upload">

                        <button style="width: 200px;" type="button" class="layui-btn" id="test1">上传图片</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="demo1">
                            <p id="demoText"></p>
                        </div>
                        <div style="width: 95px;">
                            <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
                                <div class="layui-progress-bar" lay-percent=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/error.js"></script>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
</div>

<script>
    layui.use(['upload', 'element', 'layer'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , element = layui.element
            , layer = layui.layer;

        //常规使用 - 普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: 'update' //改成您自己的上传接口
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });

                element.progress('demo', '0%'); //进度条复位
                layer.msg('上传中', {icon: 16, time: 2000});
            }
            , done: function (res) {
                //如果上传失败
                console.log("done=="+res.code)
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }

                //上传成功的一些操作
                element.progress('demo', 100 + '%');
                $('#demoText').html(''); //置空上传失败的状态
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    });
</script>
</body>
</html>