<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='海韵后台管理'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <!--主体区域-->show.html
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs9">
                    <th:block th:if="${casesList} != null">
                        <table border="1" id="dataTable"  style="border-collapse:collapse;border-spacing:0; border:1px  solid  #FFFFFF;" >
                            <tr style="background:#50aca2;color: #fff;border-bottom-width: 0;  text-align: center; height: 2.2rem;">
                                <th>我的病例</th>
                                <th>提交日期</th>
                                <th>处理情况</th>
                            </tr>
                            <tr  style="background: #e5efeb; text-align: center;height: 2.2rem;" th:each="cases:${casesList}">
                                <td>
                                    <img style="width: 200px;height: 150px;" th:src="${cases.getPicture()}">
                                </td>
                                <td style="margin:0 auto" th:text="${cases.getDate()}"></td>
                                <th:block th:if="${cases.getFlag() == 0 }">
                                    <td style="margin:0 auto"><font color="#FF0000">未处理</font></td>
                                </th:block>
                                <th:block th:if="${cases.getFlag() == 1 }">
                                    <td style="margin:0 auto"><font color="#009900">已通过</font></td>
                                </th:block>
                                <th:block th:if="${cases.getFlag() == 2 }">
                                    <td style="margin:0 auto"><font color="#8A8A8A">已完成</font></td>
                                </th:block>


                            </tr>
                        </table>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/error.js"></script>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>