<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiyu.manager.dao.CasesMapper">
  <resultMap id="CasesResultMap" type="com.haiyu.manager.pojo.Cases">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="student_id" jdbcType="INTEGER" property="student_id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>


  <select id="getAll" resultMap="CasesResultMap">
    SELECT *
    FROM cases
  </select>

  <select id="getAllByStuId" resultMap="CasesResultMap">
    SELECT *
    FROM cases
    WHERE student_id = #{stuId}
  </select>

  <select id="getById" resultMap="CasesResultMap">
    SELECT *
    FROM cases
    WHERE id = #{id}
  </select>

  <insert id="insertCases" parameterType="com.haiyu.manager.pojo.Cases">
    insert into cases(picture,student_id,date) values(#{picture},#{student_id},#{date})
  </insert>

  <select id="getAllByManId" resultType="com.haiyu.manager.pojo.Cases">
    SELECT *
    FROM cases
    WHERE flag = 0 AND student_id IN (
        SELECT s.id
        FROM student AS s
        WHERE manager_id = #{managerId})
    </select>


</mapper>