<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiyu.manager.dao.ConsultantMapper">
  <resultMap id="ConsultResultMap" type="com.haiyu.manager.pojo.Consultant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="option" jdbcType="VARCHAR" property="option" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>


  <select id="getAll" resultMap="ConsultResultMap">
    SELECT *
    FROM consult
  </select>



</mapper>