<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiyu.manager.dao.NoticeMapper">
  <resultMap id="NoticeResultMap" type="com.haiyu.manager.pojo.Notice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="CLOB" property="title" />
    <result column="content" jdbcType="CLOB" property="content" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="time" jdbcType="DATE" property="time" />
  </resultMap>


  <select id="getAll" resultMap="NoticeResultMap">
    SELECT *
    FROM notice
  </select>

  <select id="getById" resultMap="NoticeResultMap">
    SELECT *
    FROM notice
    where id=#{id}
  </select>


</mapper>